#meta
  - if @current_user
    %h1= link_to_function("Start a new topic", "toggle_startnewtopic()")
  
  .tagcloud
    %h2 Tags
    - tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| 
      = link_to tag.name, tag, :class => css_class

#topics
  = render :partial => "new"
  = render :partial => "list", :locals => {:topics => @topics}
