@import reset.css

body
  :font-family 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif
  :font-size 0.8em
  :line-height 1.6em
  :background #e5e5e5
  :margin 40px 20px 0px 20px
  :padding 0 0 0 0
  :overflow auto
  
#masthead
  :position fixed
  :z-index 995
  :top 0
  :left 0
  :width 100%
  :height 35px
  :background black
  :border-bottom 5px solid #ff9900
  
  ul
    :padding 10px 20px 0 20px
    :display block
    :font-size 0.8em
    
    li
      :float left

      a
        :background #333
        :float left
        :padding 0 20px
        :margin 0 10px 0 0
        :line-height 25px
        :color #fff
        :text-decoration none
        
        &:hover, &:active
          :background #444
      
      &.right
        :float right
        
        a
          :margin 0 0 0 10px
      
      &.logout a,
      &.login a
        :background none
        :padding 0
        :color #aaa
        
      &.current a
        :background #ff9900
        :color black

      &:first-child a
        :border-left 0

#content
  :overflow auto
  :margin-bottom 7em
  
  h1
    :font-size 2em
    :line-height 1.4em
    :margin-bottom 20px
    
  p
    :margin-bottom 1.4em
  
  blockquote
    :border-left 4px solid #bbb
    :padding-left 5px
    :color #666
  
  form
    label
      :display block

#login
  :width 400px
  :margin 100px auto 0 auto
  :background #fff
  :padding 25px 40px
  :border 4px solid #bbb
  
  .error
    :background= red + #999
  
  h1
    :text-align center

#topics
  :margin-right 240px
  :padding 20px
  :background #ffffff
  :border-right  4px solid #bbbbbb
  :border-bottom 4px solid #bbbbbb

  .topic
    :overflow auto
    :margin-bottom 10px
    :padding 5px 10px
    

    &.unread
      :background #ffffcc

    &.odd
      :margin -5px 0 5px 0
      :background #f3f3f3
      &.unread
        :background #f2f2c1

    ul
      :font-size 0.8em
      
      li
        :float left
        :margin-right 10px

        a
          :text-decoration none
        
        &.tags
          :margin-right 8px

          .tag
            :margin-right 2px
  
  #newtopic
    :background #f3f3f3
    :border-bottom 4px solid #ccc
    :margin -20px -20px 10px -20px
    :overflow auto
    
    form
      :padding 30px 20px 30px 30px
    
    .info
      :float left
      :width 240px
      
      h1
        :font-size 1.6em
    
    .fields
      :margin-left 260px
  
  #markread
    :font-size 2em
    :text-align center
    :margin-bottom 0.5em
    
    a:hover
      :background #003366
      :color #ffffff

#posts
  :margin-right 240px
  :padding 20px
  :background #ffffff
  :border-right  4px solid #bbbbbb
  :border-bottom 4px solid #bbbbbb
  
  .post
    :overflow hidden
    .user
      :float left
      :width 60px
      :font-size 0.8em
      :font-weight bold
      :text-align right
      :padding-right 5px
      :border-right 1px solid #bbb
    .body
      :margin-left 65px
      :padding-left 5px
      :padding-bottom 10px
      :margin-right 95px
      :border-left 1px solid #bbb
    .time
      :width 70px
      :font-size 0.8em
      :float right
      :text-align right
    .mark
      :width 20px
      :float right
      :text-align right
  
  #quickreply
    :position fixed
    :z-index 990
    :bottom 0
    :left 0
    :right 240px
    :width 100%
    :min-height 4em
    :padding 12px 20px
    :background= #e5e5e5 - #ccc
    
    #quickquickreply
      :position absolute
      :top 12px
      :left 20px
      :right 20px
    
    .textarea
      :width 70%
      :float left
      :margin-right 12px
      :padding 10px
      :font-size 1.5em
    
    input
      :margin-right 6px
  
  #slowreply
    :background= #e5e5e5
    :margin-left -20px
    :margin-right= -24px - 240px
    :margin-bottom -24px
    :overflow auto
    :z-index 800
    
    form
      :border-top 4px solid #bbbbbb
      :border-right  4px solid #bbbbbb
      :border-bottom 4px solid #bbbbbb
      :background #f3f3f3
      :padding 20px
      :margin-right 240px
      
      textarea
        :width 100%
      
      .side
        :background green
        :float right
        :margin-right -260px
        :width= 240px - 20px - 4px - 5px
        :padding 0 5px

#tags
  :margin-right 240px
  :padding 20px
  :background #ffffff
  :border-right  4px solid #bbbbbb
  :border-bottom 4px solid #bbbbbb

  a
    :text-decoration none
    :padding 3px
    :line-height 1.9em
    &:hover, &:active
      :color white
      :background blue
  
  .css1
    :font-size 1.0em
    :color= blue + #888
  .css2
    :font-size 1.3em
    :color= blue + #444
  .css3
    :font-size 1.6em
    :color= blue
  .css4
    :font-size 1.9em
    :color= blue - #444

#users
  :margin-right 240px
  :padding 20px
  :background #ffffff
  :border-right  4px solid #bbbbbb
  :border-bottom 4px solid #bbbbbb

  .user
    :overflow auto
    :margin-bottom 10px
    :padding 5px 10px
    
    &.odd
      :margin -5px 0 5px 0
      :background #f3f3f3

    ul
      :font-size 0.8em
      &.unread
        :background #ffff99

      li
        :float left
        :margin-right 10px

        a
          :text-decoration none
      
        &.tags
          :margin-right 8px
          .tag
            :margin-right 2px
  

#user
  :margin-right 240px
  :padding 20px
  :background #ffffff
  :border-right  4px solid #bbbbbb
  :border-bottom 4px solid #bbbbbb


#meta
  :float right
  :width 220px
  :margin 20px 0 0 0
  :font-size 0.8em
  
  h1 .edit
    :font-size 0.5em
    :font-weight normal
  
  div
    :padding 0 5px

    h2
      :background #f3f3f3
      :padding 2px 5px
      :margin 20px -5px 0 -5px
      
      small
        :font-weight normal
  
  .tagcloud
    a
      :text-decoration none
      :padding 3px
      :line-height 1.9em
      &:hover, &:active
        :color white
        :background blue
  
    .css1
      :font-size 1.0em
      :color= blue + #888
    .css2
      :font-size 1.3em
      :color= blue + #444
    .css3
      :font-size 1.6em
      :color= blue
    .css4
      :font-size 1.9em
      :color= blue - #444
