@import url(reset.css);
body {
  font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.6em;
  background: #e5e5e5;
  margin: 35px 20px 0px 20px;
  padding: 0 0 0 0;
  overflow: auto; }

#masthead {
  position: fixed;
  z-index: 995;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: black; }
  #masthead ul {
    padding: 10px 20px 0 20px;
    display: block;
    font-size: 0.8em; }
    #masthead ul li {
      float: left; }
      #masthead ul li a {
        background: #333;
        float: left;
        padding: 0 20px;
        margin: 0 10px 0 0;
        line-height: 25px;
        color: #fff;
        text-decoration: none; }
        #masthead ul li a:hover, #masthead ul li a:active {
          background: #444; }
      #masthead ul li.right {
        float: right; }
        #masthead ul li.right a {
          margin: 0 0 0 10px; }
      #masthead ul li.logout a {
        background: none;
        padding: 0;
        color: #aaa; }
      #masthead ul li.current a {
        background: white;
        color: black; }
      #masthead ul li:first-child a {
        border-left: 0; }

#content {
  overflow: auto;
  margin-bottom: 100px; }
  #content h1 {
    font-size: 2em;
    line-height: 1.4em;
    margin-bottom: 20px; }
  #content p {
    margin-bottom: 1.4em; }
  #content form label {
    display: block; }

#topics {
  margin-right: 240px;
  padding: 20px;
  background: #ffffff;
  border-right: 4px solid #bbbbbb;
  border-bottom: 4px solid #bbbbbb; }
  #topics .topic {
    overflow: auto;
    width: 100%;
    margin-bottom: 10px; }
    #topics .topic ul {
      font-size: 0.8em; }
      #topics .topic ul.unread {
        background: #ffff99; }
      #topics .topic ul li {
        float: left;
        margin-right: 10px; }
        #topics .topic ul li a {
          text-decoration: none; }
        #topics .topic ul li.tags {
          margin-right: 8px; }
          #topics .topic ul li.tags .tag {
            margin-right: 2px; }
  #topics #newtopic {
    background: #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    overflow: auto; }
    #topics #newtopic form {
      padding: 10px; }
    #topics #newtopic .info {
      float: left;
      width: 240px; }
      #topics #newtopic .info h1 {
        font-size: 1.6em; }
    #topics #newtopic .fields {
      margin-left: 260px; }
  #topics #markread {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em; }
    #topics #markread a:hover {
      background: #003366;
      color: #ffffff; }

#posts {
  margin-right: 240px;
  padding: 20px;
  background: #ffffff;
  border-right: 4px solid #bbbbbb;
  border-bottom: 4px solid #bbbbbb; }
  #posts .post {
    overflow: auto; }
    #posts .post .user {
      float: left;
      width: 60px;
      font-size: 0.8em;
      font-weight: bold;
      text-align: right;
      padding-right: 5px;
      border-right: 1px solid #bbb; }
    #posts .post .body {
      margin-left: 65px;
      padding-left: 5px;
      margin-right: 95px;
      border-left: 1px solid #bbb; }
    #posts .post .time {
      width: 70px;
      font-size: 0.8em;
      float: right; }
    #posts .post .mark {
      width: 20px;
      float: right;
      text-align: right; }
  #posts #quickreply {
    position: fixed;
    z-index: 990;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 12px 30px;
    background: #e5e5e5; }
    #posts #quickreply textarea {
      width: 70%;
      float: left;
      margin-right: 12px;
      height: 6em; }
    #posts #quickreply input {
      margin-right: 6px; }

#tags {
  margin-right: 240px;
  padding: 20px;
  background: #ffffff;
  border-right: 4px solid #bbbbbb;
  border-bottom: 4px solid #bbbbbb; }
  #tags a {
    text-decoration: none;
    padding: 3px;
    line-height: 1.9em; }
    #tags a:hover, #tags a:active {
      color: white;
      background: blue; }
  #tags .css1 {
    font-size: 1.0em;
    color: #8888ff; }
  #tags .css2 {
    font-size: 1.3em;
    color: #4444ff; }
  #tags .css3 {
    font-size: 1.6em;
    color: #0000ff; }
  #tags .css4 {
    font-size: 1.9em;
    color: #0000bb; }

#meta {
  float: right;
  width: 220px;
  margin: 20px 0 0 0;
  font-size: 0.8em; }
  #meta h1 .edit {
    font-size: 0.5em;
    font-weight: normal; }
  #meta div {
    padding: 0 5px; }
    #meta div h2 {
      background: #f3f3f3;
      padding: 2px 5px;
      margin: 20px -5px 0 -5px; }
  #meta .tagcloud a {
    text-decoration: none;
    padding: 3px;
    line-height: 1.9em; }
    #meta .tagcloud a:hover, #meta .tagcloud a:active {
      color: white;
      background: blue; }
  #meta .tagcloud .css1 {
    font-size: 1.0em;
    color: #8888ff; }
  #meta .tagcloud .css2 {
    font-size: 1.3em;
    color: #4444ff; }
  #meta .tagcloud .css3 {
    font-size: 1.6em;
    color: #0000ff; }
  #meta .tagcloud .css4 {
    font-size: 1.9em;
    color: #0000bb; }
